.post-property-container{
    font-family: "Roboto";
    background-color: #edede4;
    text-align: center;
}
.stayType-section{
    display: flex;
    justify-content: center;
    margin: 5px 2px;
}

.stay{
    display: flex;
    flex-direction: row;
    width: 10rem;
    padding: 1px;
    font-weight: 800;
    border-radius: 20px;
}
.stay_select{
    display: inline-flex;
    overflow: hidden;
    width: 50vw;
    border-radius: 25px;
    margin: 2px;

}
.stay_input{
    display: none;
}
.stay_label{
    width: 100%;
    padding: 3px;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    cursor: pointer;
}
.stay_label:hover{
    opacity: 0.8;
}
.stay_label:not(:last-of-type){
    border-right: 1px solid burlywood;
}
.stay_input:checked + .stay_label{
    background: rgb(74, 112, 12); 
    color: rgb(250, 236, 236);
    font-weight: 600;
}
@media only screen and (max-width: 500px) {
    .stay{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        width: 38%;
        padding: 1px;
        font-weight: 600;
        background-color: #d8dfb5;
        border-radius: 20px;
    }
    
 }

 /* Property fields */
 .prop-section-1,.prop-section-2, .prop-section-3, .prop-section-4, .prop-section-5, .prop-section-6{
     /* background-color: aqua; */
     display: flex;
     justify-content: space-around;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 8px;
     margin: 15px 1px;
     border-radius: 10px;
 }
 .address-section{
     background-color: rgb(233, 228, 222);
     padding: 8px;
     margin: 15px 1px;
     border-radius: 10px;
 }
 .address{
     color: sienna;
     font-weight: 600;
     text-align: left;
 }
 .single-prop-add{
     display: flex;
     justify-content: space-around;
 }
 .roomType, .nearBy{
     width: 35vw;
 }
.single-prop{
    font-size: 15px;
    margin: 10px;
    padding: 5px;
}
.single-prop select{
    padding: 6px;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 1px 2px 0px 0px gray;
    cursor: pointer;
  
}
.single-prop select:hover{
    border: 2px solid rgb(156, 6, 26);
}

.prop-input{
    border-radius: 10px;
}

.single-prop .prop-input:hover{
    border: 2px solid rgb(156, 6, 26);
}
.prop-button{
    font-size: 18px;
    margin: 2px 1px 20px 1px;
    border-radius: 10px;
    padding: 8px;
    color: sienna;
}
.prop-button:hover{
    border: 2px solid green;
}
.roomType::after{
    background-color: aqua;
    cursor: pointer;
}