h5{
    display: block;
    margin-left: 15%;
    font-family: monospace;
    margin-bottom: 9px;
    padding-top: 8px;
}

/* STAY FILTER */
.stays{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
    margin-left: -10px;
}
.radio{
    display: inline-flex;
    overflow: hidden;
    width: 100%;
    border-radius: 25px;
    margin: 2px;

}
.radio_input{
    display: none;
}
.radio_label{
    width: 100%;
    padding: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #e7e3de;
}
.radio_label:hover{
    opacity: 0.8;
}
.radio_label:not(:last-of-type){
    border-right: 1px solid burlywood;
}
.radio_input:checked + .radio_label{
    background: rgb(110, 64, 4); 
    color: rgb(236, 234, 228);
}

@media only screen and (max-width: 500px) {
    .stays{
        display: inline-block;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        border: none;
        background-color: white;
        margin:0.5px;
    }

  } 

/* GENDER, PREFERRED, ROOMTYPE, HOUSE, HOUSEPREFERRED, AREATYPE*/
#pgfor, #roomtype, #preferredfor, #housetype, #housefor, #roomtype{
    color: rgb(150, 5, 65);
    font-size: 16px;
    font-weight: 900;
    width: 200px;
    letter-spacing: 1px;
    text-align: left;
    padding: 1%;
    padding-left: 1px;
    margin-right: -15px;
  }
  
  .form-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin:2px;
    padding-left: 0px;
    line-height: 2;
  }
  
  .form-box label input{
      display: none;
  }
  .form-box label {
      cursor: pointer;
      padding: 1px 15px;
      position: relative;
  }
  .form-box label .circle{
      height: 15px;
      width: 15px;
      border:2px solid #998f8f;
      border-radius: 50%;
      position: absolute;
      left:0.2px;
      top:5px;
      transition:.2s ease-in-out 0s;
  }
  .form-box label .circle::before{
      content: '';
      height: 12px;
      width: 12px;
      background-color: #043397;
      position: absolute;
      left:0px;
      top:0px;
      border-radius: 50%;
      transition: .2s ease-in-out 0s;
      transform: scale(0);
  }
  .form-box label span{
    width: 140px;
    font-size: 14px;
    color: rgb(92, 53, 2);
    display: flex;
    justify-content: left;
    padding-bottom: 6px;
    padding-left: 8px;
    transition: .2s ease-in-out 0s;
  }
  .form-box label input:checked + .circle{
      border-color:#df640b;
  }
  .form-box label input:checked + .circle::before{
      transform: scale(1);
  }
  .form-box label input:checked + .circle + span{
      color:#855207;
  }
  /* SEARCH COMPONENT */
  .search-component{
      margin-top: 10px;
      margin-left: -12px;
      padding-left: 0px;
  }
#search-btn{
    display: flex;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    width: 76px;
    height: 36px;
}